################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PathFinder
/PathFinder/bin/Debug/netcoreapp3.1
/PathFinder/obj/Debug/netcoreapp3.1
